*
{
    margin: 0;
    padding: 0;

}
section{
    position: relative;
    overflow: hidden;
}

section #bg{
    background-size: calc(100% + var(--x));
}
section .vegas {
    position: absolute;
    top: 10;
    width: 100px;
    left: 50%;
    max-width: 100px;
    transform: translate(calc(100px - var(--x) * 2), -50);
    
}
section .after {
    position: absolute;
    top: 0;
    width: 100px;
    left: 10%;
    max-width: 100px;
}
section .pro {
    position: absolute;
    top: 0;
    width: 100px;
    left: 80%;
    max-width: 100px;
}